$max-width: 1440;
$min-width: 375;
$max-page-padding: 165;
$min-page-padding: 24;

$max-mobile-width: 576px;
$max-tablet-width: 992px;

$header-h: 80px;

$amin-time: 300ms;

$c_black: #2C2830;
$c_gray: #837D88;
$c_cream: #fafafa;
$c_white: #fff;
$c_dark-blue: #2D2641;
$c_pink: #C396C6;
