@use '../utils';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-bottom: 2px solid transparent;
  background-color: utils.$c_white;
  transition-property: border-color;
  transition-duration: utils.$amin-time;

  &--active {
    border-color: utils.$c_black;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: utils.$header-h;
  }

  &__right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 33px;

    @include utils.onTablet {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include utils.onTablet {
      display: block;
    }
  }
}
