@use '../utils';
@use '../typography';

.navigation {
  width: max-content;

  &--footer {
    display: grid;
    grid-auto-flow: column;
    width: 100%;

    @include utils.onTablet {
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      row-gap: 40px;
    }

    @include utils.onMobile {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 26px;

    &--menu {
      grid-auto-flow: row;
      justify-items: center;
      row-gap: 24px;
    }

    &--footer {
      grid-auto-flow: row;
      row-gap: 16px;
      height: max-content;

      @include utils.onTablet {
        justify-items: center;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    @extend %button-text;
    color: utils.$c_gray;
  }

  &__link {
    @extend %button-text;
    color: utils.$c_gray;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: utils.$amin-time;

    &:hover {
      color: utils.$c_black;
    }

    &--menu {
      @extend %menu-link-text;
      color: utils.$c_white;
    }

    &--footer {
      position: relative;
      color: utils.$c_black;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 1px;
        background-color: utils.$c_black;
        scale: 0;
        transition-property: scale;
        transition-duration: utils.$amin-time;
      }

    &:hover {
      &::after {
        scale: 1;
      }
    }
    }
  }
}
