@use '../utils';

.socials {
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  width: max-content;

  &__icon {
    display: block;
    width: 24px;
    aspect-ratio: 1;
    fill: utils.$c_gray;
    transition-property: fill;
    transition-duration: utils.$amin-time;

    &:hover {
      fill: utils.$c_black;
    }
  }
}
